
.gridPlayer {
  display: flex;
  flex-direction: column;
}

.linePlayer {
  display: flex;
  flex-direction: row;
}

.part_1 {
  background-color: #00ffff;
}

.part_2 {
  background-color: #0000ff;
}

.part_3 {
  background-color: #ffaa00;
}

.part_4 {
  background-color: #ffff00;
}

.part_5 {
  background-color: #00ff00;
}

.part_6 {
  background-color: #9900ff;
}

.part_7 {
  background-color: #ff0000;
}
