/* FLEX BOX */

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.wrap {
  display: flex;
  flex-wrap: wrap
}

.end {
  display: flex;
  justify-content: flex-end
}

.center {
  display: flex;
  justify-content: center;
}

/* PIECE */

.case {
  height: 20px;
  width: 20px;
}

.casePiece {
  height: 16px;
  width: 16px;
  border: 2px solid #cccccc;
}

.color8 {
  background-color: #000000;
}

.color0 {
  background-color: #666666;
}

.color1 {
  background-color: #00ffff;
}

.color2 {
  background-color: #0000ff;
}

.color3 {
  background-color: #ffaa00;
}

.color4 {
  background-color: #ffff00;
}

.color5 {
  background-color: #00ff00;
}

.color6 {
  background-color: #9900ff;
}

.color7 {
  background-color: #ff0000;
}

/* OTHER CSS */

.pad {
  padding: 10px;
}

.width_preview {
  width: 100px;
}

.width_info {
  width: 500px;
}

